<!DOCTYPE html>
{%load static  %}
<link rel="stylesheet" href="{% static 'elevage_app/style.css'%}">
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Élevage de Lapins</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Élevage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'elevage_app:initial_elevage' %}">Nouvel élevage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'elevage_app:FarmList' %}">Liste des élevages</a>
                    </li>
                    <li class="nav-item">
                        <a clsaa="nav-link" href="{%url 'elevage_app:EleVage' elevage.pk %}">Tour des elevage</a>
                    </li>
                </ul>
                    
            </div>

                       
                        
                       
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>