
{% block content %}
<h2>Détails de l'élevage: {{ elevage.farm_nom }}</h2>
<p>Nombre de mâles: {{ elevage.males }}</p>
<p>Nombre de femelles: {{ elevage.femelles }}</p>
<P>Nombre de nourriture:{{elevage.nourriture_kg}}</P>
<p>Nombre de cages:{{elevage.cages}}</p>

<h3>Liste des individus</h3>
<ul>
    {% for individu in individus %}
    <li>
        Sexe: {{ individu.get_sexe_display }}, 
        Âge: {{ individu.age_mois}}, 
        État: {{ individu.get_statut_display }}
    </li>
    {% endfor %}
</ul>
<h3>Actions du tour</h3>
<form method="post" action="{% url 'elevage_app:EleVage' elevage.pk%}" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Valider</button>
</form>
<div class="alert alert-info">
    <strong>Mois actuel :</strong> {{ elevage.mois_ecoules }}<br>
    <strong>Au prochain tour :</strong>
    <ul>
        <li>Tous les lapins vieilliront de 1 mois</li>
        <li>Les femelles adultes  ont 70% de chance de se reproduire (1-4 lapereaux)</li>
        <li>Consommation de nourriture : 
            <ul>
                <li>Lapins jeunes  : 3kg/mois</li>
                <li>Lapins adultes : 7.5kg/mois</li>
            </ul>
        </li>
        <li>Surpopulation entraînera des morts aléatoires</li>
    </ul>
</div>
{% endblock %}